@media screen and (max-width: 940px) {
    /* Header part start */
    .navbar li{
        padding: 20px 7px;
    }
    .navbar li a{
        font-size: 20px;
    }
    /* Header part end */

    /* index part start */
    .home-container, .media{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-img img{
        height: 400px;
      }
    .h-box{
        margin-top: 40px;
    }
    .feature .image img{ 
        width: 200px;
        margin-top: 30px;

    }
   
    .m-container{
        margin: 30px;
        width: 80%;
    }
    .img img{
        width: 150px;
    }
    .h-heading h1{
        font-size: 50px;
        color:rebeccapurple;
    }
    .h-heading p{
        line-height: 40px;
        font-size: 25px;
    }
    .h-heading .btn{
        font-size: 40px;
    }
    /* index part end */

  
 
  }