@media screen and (max-width: 940px) {
    /* Header part start */
    .navbar li{
        padding: 20px 7px;
    }
    .navbar li a{
        font-size: 20px;
    }
    /* Header part end */

    /* index part start */
    .home-container, .media{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-img img{
        height: 400px;
      }
    .h-box{
        margin-top: 40px;
    }
    .feature .image img{ 
        width: 200px;
        margin-top: 30px;

    }
   
    .m-container{
        margin: 30px;
        width: 80%;
    }
    .img img{
        width: 150px;
    }
    .h-heading h1{
        font-size: 50px;
        color:rebeccapurple;
    }
    .h-heading p{
        line-height: 40px;
        font-size: 25px;
    }
    .h-heading .btn{
        font-size: 40px;
    }
    /* index part end */

    /* about start */
    .second-section, .third-section, .fourth-section{
        margin:20px 10px 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contant1{
        margin:40px;
        width: 600px;
        text-align: center;
    }
    .contant1:hover{
        box-shadow: 1px 1px 10px rgb(199, 89, 89);
        border-radius: 50px;

    }
    .contant1 .heading h2{
        font-size: 40px;
    }
    .contant1 .pr{
        font-size: 25px;
        text-align: justify;
    }
    .contant1 .profile img{
        width: 100px;
    }
    .contant1 .profile p{
        font-size: 25px;
    }

    .contant1 .profile p span{
        font-size: 35px;
        padding: 5px 0;
    }
    .fourth-section .contant img{
        width: 140px;
    }
    .fourth-section .contant .pr{
        font-size: 23px;
    }
    .fourth-section .prog{
       display: none;
       
    }
    .lasts{
        font-size: 30px;
        padding: 50px;
        height: auto;
    }
    /* About end */

    /* Service start*/
    .first-service{
        display: flex;
      flex-direction: column;
    margin:20px;

    }
    .service-contant img{
        width: 160px;
        margin: 10px;
    }
    .service-contant h2{
         font-size: 40px;
         padding: 10px;
    }
    .service-contant .par{
        font-size: 30px;
    }
    .service-contant .btns{
         font-size: 40px;
    }
    .loader .load1{
        display: none;
    }
    .foot, .uls{
        text-align: center;
    }
    .service-last{
        width: 500px;
        margin: auto;
   
    }
    .service-last img{
width: 200px;
    }
    .service-last h2{
        font-size: 25px;
        
    }

    .service-last h1{
        font-size: 20px;
        text-align: justify;
       
        
    }

    .service-last .pr{
        font-size: 24px;
        
    }
    .uls{
        font-size: 25px;
    }
    /* Service send */

    /* portfolio start */

.third1{
    display: none;
}
.third2 .pr{
font-size: 30px;
line-height: 50px;
text-align: justify;
}

.third2 .img {
    display: flex;
    justify-content: center;
}
.fourth-container .fourth-1{
    width: 200px;
    background-color: rebeccapurple;
    height: auto;
}
.fourth-1{
    display: none;
}
    /* portfolio end */

/* Contact start */
.fifth-section{
    display: flex;
    flex-direction: column;
}
textarea{
    margin-left: 0px;
    /* width: 200px; */
}
/* contact end */


 
  }